@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
   
  }
}

body {
  font-family: var(--font-dm-sans), sans-serif;
}

.dmSerif {
  font-family: var(--font-dm-serif), serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
